.main-header{
    height: 20%;
    width: 100%;
    background-image: url('../../BackgroundImage/bgimage.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 2%;
}
.league-title{
    width: 50%;
    height: auto;
    display: block;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}