.main-header{
    height: 350px;
    background-image: url('../../BackgroundImage/bgimage.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
}
.main-title{
    color: red;
    text-align: center;
    padding-top: 175px;
}