.club-banner{
    width: 100%;
}
.team-summary-card{
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.footer-icon-div{
    padding-left: 45%;
}
.icon{
    height: 5%;
    width: 5%;
}
.card-image{
    width: 50%;
    height: 50%;
    float: right;
}